<!DOCTYPE html>
<html>

<head>
    <title>Cardápio Pizzaria Invicta</title>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximun-scale-1">
    <link rel="stylesheet" href="/webview.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

</head>

<body>
    <div class="container">
        <div ng-app="myApp" ng-controller="myCtrl">
            <form action="/webview/save" method="get">
                <input type="hidden" name="psid" id="psid">
                <ul class="collapsible">
                    <li class="active">

                        <div class="collapsible-header">
                            <i class="material-icons">receipt</i>Cardápio</div>
                        <div class="collapsible-body collapsible-body-cardapio">
                            <div ng-repeat="x in products">
                                <div class="row">
                                    <div class="col s12">
                                        <label>
                                            <input type="checkbox" name="products[]" id="product_{{x._id}}" onChange="showOptions(this)" value="{{x._id}}" />
                                            <span>{{x.nome_product}}
                                                <small>{{x.receita_product+" - R$"+x.preco_product}}</small>
                                            </span>
                                        </label>
                                    </div>
                                    <div id="product_{{x._id}}_div" style="display: none" class="col s12">
                                        <div class="row">
                                            <div class="input-field col s6">
                                                <select name="product_{{x._id}}_qtd" id="product_{{x._id}}_qtd" onchange="calcular()">
                                                    <option value="1" selected>1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                </select>
                                                <label>Qtd.</label>
                                            </div>

                                            <div class="input-field col s6">
                                                <input type="text" placeholder="Ex.: Tirar Cebola,..." name="product_{{x._id}}_obs" id="product_{{x._id}}_obs" onkeyup="calcular()">
                                                <label>*Obs.</label>
                                            </div>
                                            <div class="input-field col s6">
                                                <select multiple name="product_{{x._id}}_adicionais" onchange="calcular()" id="product_{{x._id}}_adicionais">
                                                    <option value="" selected>Sem adicionais</option>
                                                    <option ng-repeat="x2 in additionals" value="{{x2._id}}">{{x2.nome_additional}} - {{x2.preco_additional | currency:"R$"}}</option>
                                                </select>
                                                <label>Adicionais</label>
                                            </div>
                                            <div class="input-field col s6">
                                                <select onchange="calcular()" name="product_{{x._id}}_borda" id="product_{{x._id}}_borda">
                                                    <option value="" selected>Sem borda</option>
                                                    <option ng-repeat="x3 in borders" value="{{x3._id}}">{{x3.nome_border}} - {{x3.preco_border | currency:"R$"}}</option>
                                                </select>
                                                <label>Bordas Recheadas</label>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <script>
                                    setTimeout(function () {
                                        $('select').formSelect();
                                    }, 1000);

                                </script>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">send</i>Finalizar Pedido</div>
                        <div class="collapsible-body  collapsible-body-result">
                            <div>
                                <div id="result"></div>

                            </div>
                            <button class="waves-effect waves-light btn" id="submitButton" type="submit" value="submit">
                                Enviar pedido
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </li>

                </ul>
                <script>
                    $('.collapsible').collapsible();
                </script>



            </form>
        </div>




    </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope, $http) {
            $http.get("webview/get_products")
                .then(function (response) {
                    console.dir(response);
                    $scope.products = response.data.products;
                    $scope.borders = response.data.borders;
                    $scope.additionals = response.data.additionals;

                });
        });
    </script>

    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'Messenger'));

        window.extAsyncInit = function () {
            MessengerExtensions.getContext('285946188630983',
                function success(thread_context) {
                    $('#psid').val(thread_context.psid);
                    $.getJSON('/webview/settings?psid=' + thread_context.psid, function (data) {
                        $('#newsletter_' + data.newsletter).prop('checked', true);
                        $('#deals_' + data.deals).prop('checked', true);
                        if (data.topics) {
                            let topics = data.topics.split(',');
                            topics.forEach(function (topic) {
                                $('#topic_' + topic).prop('checked', true);
                            })
                        }
                    });
                },
                function error(err) {
                    // error
                }
            );

            $('#submitButton').click(function () {
                MessengerExtensions.requestCloseBrowser(function success() {
                    // webview closed
                }, function error(err) {
                    // an error occurred
                });
            });


        };

    </script>


    <script>
        function showOptions(idCheckbox) {
            calcular();
            var e = $(idCheckbox).attr('id');
            if ($("#" + e).prop("checked")) {
                $("#" + e + '_div').show();
            } else {
                $("#" + e + '_div').hide();
            }
        };


        function calcular() {
            var checkbox = $('input:checkbox[name^=products]:checked');
            var resumo = '<b>Resumo:</b><hr>';
            var nome_p = '';
            var qtd_p = 0;
            var preco_p = 0;
            var id_product = '';
            var obs = '';
            var total = 0;
            var id_borda = 0;
            var id_adicionais = {};


            var $scope = angular.element('div[ng-controller="myCtrl"]').scope();

            if (checkbox.length > 0) {
                resumo += '<div class="row">';
                checkbox.each(function () {
                    id_product = $(this).val();
                    angular.forEach($scope.products, function (value, key) {
                        if (value._id === id_product) {
                            nome_p = value.nome_product;
                            preco_p = parseFloat(value.preco_product) || 0;
                            qtd_p = parseInt($('#product_' + id_product + "_qtd").val()) || 0;
                            obs = $('#product_' + id_product + "_obs").val();
                            id_borda = $('#product_' + id_product + "_borda").val();
                            id_adicionais = $('#product_' + id_product + "_adicionais").val();

                            total += preco_p * qtd_p;

                            resumo += '<div class="col s8 col-no-pad">' + nome_p + '</div><div class="col s4 col-no-pad">' + qtd_p + ' x R$' + numberParaReal(preco_p) + '</div>';

                            if (id_borda) {
                                angular.forEach($scope.borders, function (value2, key) {
                                    if (value2._id === id_borda) {
                                        total += parseFloat(value2.preco_border) * qtd_p;
                                        resumo += '<div class="col s8 col-no-pad"><b>Borda: </b> ' + value2.nome_border + '</div><div class="col s4 col-no-pad">&nbsp &nbsp + R$' + numberParaReal(value2.preco_border * qtd_p) + '</div>';
                                    }
                                });
                            }
                            if (id_adicionais.length > 0) {

                                resumo += '<div class="col s12 col-no-pad"><b>Adicionais:</b></div>';
                                id_adicionais.forEach(function (x, chave) {


                                    angular.forEach($scope.additionals, function (value3, key) {
                                        if (value3._id === x) {
                                            total += parseFloat(value3.preco_additional);
                                            resumo += '<div class="col s8 col-no-pad"><i>' + value3.nome_additional + '</i></div><div class="col s4 col-no-pad">&nbsp &nbsp + R$' + numberParaReal(value3.preco_additional) + '</div>';
                                        }
                                    });


                                });



                            }
                            if (obs) {
                                resumo += '<div class="col s12 col-no-pad"><b>*Obs.:</b><i>' + obs + '</i></div>';
                            }


                            resumo += '<div class=" col s12 col-no-pad"><hr></div>';

                        }
                    });
                })
                resumo += '</div>'
                    + '<h5>Total: R$' + numberParaReal(total, 2) + '</h5>';
            }
            $('#result').html(resumo);
        }
        function numberParaReal(numero) {
            var formatado = numero.toFixed(2).replace(".", ",");
            return formatado;
        }
    </script>
</body>

</html>