<!DOCTYPE html>
<html>
    <head>
        <title>Udemy demo webview</title>
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximun-scale-1">
        <link rel="stylesheet" href="/webview.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
      
    </head>
    <body>
        <div class="container">
            <h4>Newsletter settings</h4>
            <form action="/webview/save" method="get">
                <input type="hidden" name="psid" id="psid">
                <h5>Frequency</h5>
                <p>
                    <label>
                      <input type="radio" name="newsletter" id="newsletter_1" value="1"  />
                      <span>Weekly</span>
                    </label>
                </p>
                <p>
                    <label>
                      <input type="radio" name="newsletter" id="newsletter_2" value="2"  />
                      <span>Daily</span>
                    </label>
                </p>
                <p>
                    <label>
                      <input type="radio" name="newsletter" id="newsletter_0" value="0"  />
                      <span>Never</span>
                    </label>
                </p>
                <h5> Topics</h5>
                <p>
                    <label>
                      <input type="checkbox" name="topics[]" id="topic_IPhone" value="IPhone" />
                      <span>IPhone</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" name="topics[]" id="topic_IPad" value="IPad" />
                      <span>IPad</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" name="topics[]" id="topic_Mac" value="Mac"  />
                      <span>Mac</span>
                    </label>
                  </p>

                <h5>Send Ideals</h5>
                <p>
                    <label>
                      <input type="radio" name="deals" id="deals_1" value="1" />
                      <span>Yes</span>
                    </label>
                </p>
                <p>
                    <label>
                      <input type="radio" name="deals" id="deals_0"  value="0" />
                      <span>No</span>
                    </label>
                </p>
                <button class="waves-effect waves-light btn" id="submitButton" type="submit" value="submit">
                    Submit 
                    <i class="material-icons right">send</i>
                </button>
                
            </form>
        </div>


        <script>
            (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'Messenger'));

            window.extAsyncInit = function() {
                MessengerExtensions.getContext('285946188630983', 
                    function success(thread_context){
                        $('#psid').val(thread_context.psid);
                        $.getJSON('/webview/settings?psid='+thread_context.psid, function (data){
                            $('#newsletter_'+data.newsletter).prop('checked',true);
                            $('#deals_'+data.deals).prop('checked',true);
                            if(data.topic){
                                let topics = data.topics.split(',');
                                topics.forEach(function(topic){
                                    $('#topic_'+topic).prop('selected',true);
                                })
                            }
                        });
                    },
                    function error(err){
                        // error
                    }
                );

                $('#submitButton').click(function(){
                    MessengerExtensions.requestCloseBrowser(function success() {
                        // webview closed
                    }, function error(err) {
                        // an error occurred
                    });
                })
            };

            
        </script>
    </body>
</html>