
body{
    color: #0f0f0f;
    background: #ffffff;
} 
#submitButton{
    margin-bottom: 10px
}
.collapsible-body-cardapio{
    padding-left: 0rem !important;
    padding-right: 0rem  !important;
}
.col-no-pad{
    padding: 0 !important;
}